$backgroundColor: #121212;
$fontColor: #f1f1f1;
$hoverColorOne: #f7f7f7;
$brandColor: #ff7654;
$headMargin: 3rem;
$headPadding: 2rem;

// Body

body {
    background: $backgroundColor;
}

// Navbar Section

.navbar {
    background: $backgroundColor;
    .navbar-toggler {
        .icon {
            color: white;
        }
    }
    .container-fluid {
        .navbar-brand {
            margin-left: 4rem;
            color: $brandColor;
            font-size: 2vw;
        }
        .collapse {
            margin-left: 25rem;
            .navbar-nav {
                .nav-item {
                    margin-left: 4.5rem;
                    .nav-link {
                        color: $fontColor;
                    }
                    .nav-link:hover {
                        color: $hoverColorOne;
                        transition: ease-in-out 1s;
                    }
                }
                
            }
        }
    }
}

// Small About Section

.small__about {
    color: $fontColor;  
    padding: 20px;
    .descOne {
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    .head {
        margin: $headMargin;
        padding: $headPadding;
        display: flex;
        flex-direction: column;
        .headSkills {
            font-size: 2vw;
            padding: 20px 0;
            color: salmon;
        }
    }
        .abtImg {
            width: 35rem;
        }
    }
}

// Skill section

.skill_sec {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    padding: 3rem;
    .modal {
        .modal-dialog {
            .paraModal {
                color: grey;
                font-size: 20px;
                text-align: center;
            }
        }
    }
    .modal-head {
        display: flex;
        flex-direction: column;
        text-align: center;
        .modal_txt {
            color: $fontColor;
            cursor: pointer;
            font-size: 14px;
            padding: 10px;
        }
        .head {
            color: $fontColor;
            font-size: 24px;
            font-weight: 400;
        }
        .para {
            color: grey;
            font-size: 20px;
        }
    }
    .modal_txt {
        color: white;
        cursor: pointer;
        font-size: 14px;
        padding: 10px;
    }
}

// More Section

.more {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // gap: 5rem;
    .headAbt {
        color: $fontColor;
        font-size: 1.4vw;
        padding: 0 14rem;
        display: flex;
        flex-direction: column;
        color: rgb(255, 179, 117);
        .moreTitle {
            font-size: 2vw;
            padding: 20px;
            text-align: center;
            color: #dddddd;
            color: salmon;
        }
    }
}

// Experience Timeline

.experience {
    .gridofTimeline {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        .timeHead {
            color: $fontColor;
        }
    .timeline {
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
        .divider {
        width: 0.2rem;
        height: 9rem;
        background-color: white;
        transform: rotate(180deg);
        }
        .circle {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: white;
        }
        .timelineOne {
            width: 23rem;
            height: 12rem;
            background-color: white;
            border-radius: 8px;
            padding: 20px;
            .headPost {
                font-size: larger;
                color: $brandColor;
            }
            .headComp {
                font-size: large;
                color: grey;
            }
            .paraDesc {
                font-size: medium;
                color: $backgroundColor;
            }
        }
    }
    }
}

// Mobile or Small Screen View

@media screen and (max-width:900px) {
    .navbar {
        background: fixed;
        .container-fluid {
            .navbar-brand {
                margin-left: 1rem;
                color: $brandColor;
                font-size: 5vw;
            }
            .collapse {
                margin-left: 0rem;
                .navbar-nav {
                    .nav-item {
                        margin-left: 1rem;
                        .nav-link {
                            color: $fontColor;
                        }
                        .nav-link:hover {
                            color: $hoverColorOne;
                            transition: ease-in-out 1s;
                        }
                    }
                    
                }
            }
        }
    }

    .small__about {
        color: $fontColor;  
        .descOne {
            display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        .head {
            margin: 30px;
            font-size: 6vw;
            .headSkills {
                font-size: 4.7vw;
            }
        }
            .abtImg {
                width: 20rem;
            }
        }
    }

    // Skill Section

    .skill_sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8rem;
        padding: 3rem;
        .modal {
            .modal-dialog {
                .paraModal {
                    color: grey;
                    font-size: 20px;
                    text-align: center;
                }
            }
        }
        .modal-head {
            display: flex;
            flex-direction: column;
            text-align: center;
            .modal_txt {
                color: $fontColor;
                cursor: pointer;
                font-size: 14px;
                padding: 10px;
            }
            .head {
                color: $fontColor;
                font-size: 24px;
                font-weight: 400;
            }
            .para {
                color: grey;
                font-size: 20px;
            }
        }
        .modal_txt {
            color: white;
            cursor: pointer;
            font-size: 14px;
            padding: 10px;
        }
    }

    // More Section

.more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // gap: 5rem;
    .moreImg {
        width: 15rem;
        padding: 20px;
    }
    .headAbt {
        color: $fontColor;
        font-size: 4vw;
        padding: 0 3.5rem;
        display: flex;
        flex-direction: column;
        color: rgb(255, 179, 117);
        text-align: center;
        width: 22rem;
        transition: ease-in-out 1s;
        border-radius: 8px;
        padding: 20px;
        .moreTitle {
            font-size: 5.5vw;
            padding: 20px;
            text-align: center;
            color: #dddddd;
            color: salmon;
        }
    }
    .headAbt:hover {
        background-color: white;
        border-radius: 8px;
        box-shadow: $hoverColorOne;
        color: $backgroundColor;
        transition: ease-in-out 1s;
        width: 20rem;
        padding: 20px;
    }
}

// Experience Timeline

.experience {
    .gridofTimeline {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    .timeline {
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
        .divider {
        width: 0.2rem;
        height: 7rem;
        background-color: white;
        transform: rotate(180deg);
        }
        .circle {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: white;
        }
        .timelineOne {
            width: 17rem;
            height: 12rem;
            background-color: white;
            border-radius: 8px;
            padding: 15px;
            .headPost {
                font-size: large;
            }
            .headComp {
                font-size: small;
            }
            .paraDesc {
                font-size: smaller;
            }
        }
    }
}
}
}