body {
  background: #121212;
}

.navbar {
  background: #121212;
}

.navbar .navbar-toggler .icon {
  color: white;
}

.navbar .container-fluid .navbar-brand {
  margin-left: 4rem;
  color: #ff7654;
  font-size: 2vw;
}

.navbar .container-fluid .collapse {
  margin-left: 25rem;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item {
  margin-left: 4.5rem;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  color: #f1f1f1;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #f7f7f7;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

.small__about {
  color: #f1f1f1;
  padding: 20px;
}

.small__about .descOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7rem;
}

.small__about .descOne .head {
  margin: 3rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.small__about .descOne .head .headSkills {
  font-size: 2vw;
  padding: 20px 0;
  color: salmon;
}

.small__about .descOne .abtImg {
  width: 35rem;
}

.skill_sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8rem;
  padding: 3rem;
}

.skill_sec .modal .modal-dialog .paraModal {
  color: grey;
  font-size: 20px;
  text-align: center;
}

.skill_sec .modal-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.skill_sec .modal-head .modal_txt {
  color: #f1f1f1;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
}

.skill_sec .modal-head .head {
  color: #f1f1f1;
  font-size: 24px;
  font-weight: 400;
}

.skill_sec .modal-head .para {
  color: grey;
  font-size: 20px;
}

.skill_sec .modal_txt {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.more .headAbt {
  color: #f1f1f1;
  font-size: 1.4vw;
  padding: 0 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffb375;
}

.more .headAbt .moreTitle {
  font-size: 2vw;
  padding: 20px;
  text-align: center;
  color: #dddddd;
  color: salmon;
}

.experience .gridofTimeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

.experience .gridofTimeline .timeHead {
  color: #f1f1f1;
}

.experience .gridofTimeline .timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.experience .gridofTimeline .timeline .divider {
  width: 0.2rem;
  height: 9rem;
  background-color: white;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.experience .gridofTimeline .timeline .circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
}

.experience .gridofTimeline .timeline .timelineOne {
  width: 23rem;
  height: 12rem;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}

.experience .gridofTimeline .timeline .timelineOne .headPost {
  font-size: larger;
  color: #ff7654;
}

.experience .gridofTimeline .timeline .timelineOne .headComp {
  font-size: large;
  color: grey;
}

.experience .gridofTimeline .timeline .timelineOne .paraDesc {
  font-size: medium;
  color: #121212;
}

@media screen and (max-width: 900px) {
  .navbar {
    background: fixed;
  }
  .navbar .container-fluid .navbar-brand {
    margin-left: 1rem;
    color: #ff7654;
    font-size: 5vw;
  }
  .navbar .container-fluid .collapse {
    margin-left: 0rem;
  }
  .navbar .container-fluid .collapse .navbar-nav .nav-item {
    margin-left: 1rem;
  }
  .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
    color: #f1f1f1;
  }
  .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
    color: #f7f7f7;
    -webkit-transition: ease-in-out 1s;
    transition: ease-in-out 1s;
  }
  .small__about {
    color: #f1f1f1;
  }
  .small__about .descOne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
  }
  .small__about .descOne .head {
    margin: 30px;
    font-size: 6vw;
  }
  .small__about .descOne .head .headSkills {
    font-size: 4.7vw;
  }
  .small__about .descOne .abtImg {
    width: 20rem;
  }
  .skill_sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8rem;
    padding: 3rem;
  }
  .skill_sec .modal .modal-dialog .paraModal {
    color: grey;
    font-size: 20px;
    text-align: center;
  }
  .skill_sec .modal-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .skill_sec .modal-head .modal_txt {
    color: #f1f1f1;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
  }
  .skill_sec .modal-head .head {
    color: #f1f1f1;
    font-size: 24px;
    font-weight: 400;
  }
  .skill_sec .modal-head .para {
    color: grey;
    font-size: 20px;
  }
  .skill_sec .modal_txt {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
  }
  .more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .more .moreImg {
    width: 15rem;
    padding: 20px;
  }
  .more .headAbt {
    color: #f1f1f1;
    font-size: 4vw;
    padding: 0 3.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #ffb375;
    text-align: center;
    width: 22rem;
    -webkit-transition: ease-in-out 1s;
    transition: ease-in-out 1s;
    border-radius: 8px;
    padding: 20px;
  }
  .more .headAbt .moreTitle {
    font-size: 5.5vw;
    padding: 20px;
    text-align: center;
    color: #dddddd;
    color: salmon;
  }
  .more .headAbt:hover {
    background-color: white;
    border-radius: 8px;
    -webkit-box-shadow: #f7f7f7;
            box-shadow: #f7f7f7;
    color: #121212;
    -webkit-transition: ease-in-out 1s;
    transition: ease-in-out 1s;
    width: 20rem;
    padding: 20px;
  }
  .experience .gridofTimeline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .experience .gridofTimeline .timeline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
  }
  .experience .gridofTimeline .timeline .divider {
    width: 0.2rem;
    height: 7rem;
    background-color: white;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .experience .gridofTimeline .timeline .circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: white;
  }
  .experience .gridofTimeline .timeline .timelineOne {
    width: 17rem;
    height: 12rem;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
  }
  .experience .gridofTimeline .timeline .timelineOne .headPost {
    font-size: large;
  }
  .experience .gridofTimeline .timeline .timelineOne .headComp {
    font-size: small;
  }
  .experience .gridofTimeline .timeline .timelineOne .paraDesc {
    font-size: smaller;
  }
}
/*# sourceMappingURL=styles.css.map */